<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.van.camencode"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".CameraXActivity">

        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Camera2Activity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".SurfaceTextureActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".CameraYUVOpenGL"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".WellcomActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenglCameraActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".OpenglCameraActivity2"
            android:label="@string/app_name">

        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>